<div class="flex flex-row">
  <div class="sidemenu">
    <aside>
      <app-menu-lateral></app-menu-lateral>
    </aside>
  </div>
  <div class="w-full h-screen flex flex-col items-center">
    <header class="sticky top-0 z-40 w-full">
      <nav>
        <app-navbar> </app-navbar>
      </nav>
    </header>
    <main
      class="max-w-4xl flex flex-col items-center justify-center overflow-auto scrollbar-hide"
    >
      <div>
        <app-historico-questoes></app-historico-questoes>
      </div>
    </main>
    <div class="sticky bottom-0 z-40 w-full">
      <app-envio-pergunta></app-envio-pergunta>
    </div>
  </div>
</div>
