<div class="layout shadow-md">
  <div class="main">
    <div class="w-full fixed">
      <app-navbar></app-navbar>
    </div>
    <div class="messages w-full flex items-center">
      <div>
        <app-menu-lateral></app-menu-lateral>
      </div>
      <div class="conversation w-3/5 flex flex-col items-end justify-end p-5">
        <div class="messages-history w-full overflow-auto scrollbar-hide">
          <app-historico-questoes></app-historico-questoes>
        </div>
        <div class="input-area w-full grow">
          <div class="input-text">
            <app-envio-pergunta></app-envio-pergunta>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
