<div class="w-full flex flex-grow flex-row m-3">
  <div class="w-full">
    <textarea
      placeholder="Faça uma pergunta"
      class="textarea textarea-bordered textarea-md w-full block px-3 py-2 text-token-text-primary placeholder:text-token-text-secondary"
    ></textarea>
  </div>
  <div
    class="send text-xl w-10 flex flex-col items-center justify-center cursor-pointer grow break-all"
  >
    <div
      class="hover:bg-blue-500 transition-colors duration-200 p-1 rounded-full"
    >
      <fa-icon [icon]="['fas', 'circle-arrow-up']"></fa-icon>
    </div>
  </div>
</div>
